<div id="clientpaginator">
  <%- if ( params[:page].to_i > 1 ) -%>
    <%= link_to( '<< First', clientes_path ) %>
    <%= link_to( '< Back', clientes_path( { :page => ( params[:page].to_i - 1 ) } ) ) %>
  <%- end -%>
  <%- 1.upto( @num_of_pages ) do |i| -%>
    <%= link_to( i, clientes_path( { :page => i } ) ) %>
  <%- end -%>
  <%- if ( params[:page].to_i < @num_of_pages ) -%>
    <%= link_to( 'Next >', clientes_path( { :page => ( params[:page].to_i + 1 ) } ) ) %>
    <%= link_to( 'Last >>', clientes_path( { :page => @num_of_pages } ) ) %>
  <%- end -%>
</div>
<%- content_for( :document_ready ) do -%>
  $( '#clientpaginator a' ).live.html( "<%= escape_javascript( render( { :partial => 'clientes/list', :locals => { :clientes => @clientes } } ) ) %>");( 'click', {}, function( eventObject ) {
    //$( '#client_list' ).load( this.href, function( responseText, textStatus, XMLHttpRequest ) {
    $.getScript( this.href, function( script, textStatus, jqXHR ) {
      alert( 'Datos actualizados' );
    } );
    return( false );
  } );
<%- end -%>
