<h1>Editing departamento</h1>





<%= render 'form' %>
<%- if ( request.xhr? ) -%>
  <%= link_to( 'Show', departamento_path(@departamento.id), { :onClick => "jQuery( '#edit_departament_form' ).dialog( 'close' );return( showUrlInDialog( '#{departamento_path(@departamento.id)}' ) );" } ) %> |
  <%= link_to 'Close', '#', { :onClick => "jQuery( '#edit_departament_form' ).dialog( 'close' );return( false );" } %>
<%- else -%>
  <%= link_to 'Show', @cliente %> |
  <%= link_to 'Back', clientes_path %>
<%- end -%>