<%
  def header( header_name, column_name )
    to_return = ""
       
    if ( params[:column] == column_name ) 
      if ( params[:sort] == 'asc' ) 
        to_return+="<a href=\"#\" onClick=\"return( ordenarCiudad( '#{column_name}', 'desc' ) );\" >#{header_name}</a>"
        to_return+="<a href=\"#\" onClick=\"return( ordenarCiudad( '#{column_name}', 'desc' ) );\" ><img src=\"assets/arrow_up.png\" border=\"1\" /></a>"
      else 
        to_return+="<a href=\"#\" onClick=\"return( ordenarCiudad( '#{column_name}', 'asc' ) );\" >#{header_name}</a>"
        to_return+="<a href=\"#\" onClick=\"return( ordenarCiudad( '#{column_name}', 'asc' ) );\" ><img src=\"assets/arrow_down.png\" border=\"1\" /></a>"
      end 
    else 
      to_return+="<a href=\"#\" onClick=\"return( ordenarCiudad( '#{column_name}', 'asc' ) );\" >#{header_name}</a>"
    end     
    return( to_return.html_safe  )
  end
%>


<tr>
    <th>
     <%= header( 'Nombre', 'nombre' ) %>
    </th>
  
    <th>
     <%= header( 'Codigo', 'codigo' ) %>
    </th>
 
    <th>
     <%= header( 'Codigo Departamento', 'departamento_codigo' ) %>
    </th>

 
 
    <th colspan="3">
      <%= params[:column] %><br />
      <%= params[:sort] %>
    </th>
</tr>

<%= render( ciudades ) %>